<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="<%= ['listingblock',role].compact * ' ' %>"><%
if title? %>
<div class="title"><%= captioned_title %></div><%
end %>
<div class="content"><%
nowrap = !(@document.attr? :prewrap) || (option? :nowrap)
if @style == 'source'
  language = attr :language
  if language == 'java'
    language = 'javaext'
  elsif language == 'sql'
    language = 'sqlext'
  end
  code_class = language ? [language, %(language-#{language})] : []
  pre_class = ['highlight']
  pre_lang = nil
  code_lang = language
  highlighter = attr 'source-highlighter'
  case attr 'source-highlighter'
  when 'coderay'
    pre_class = ['CodeRay']
    code_lang = nil
  when 'pygments'
    pre_class = ['pygments','highlight']
    code_lang = nil
  when 'prettify'
    pre_class = ['prettyprint']
    pre_class << 'linenums' if attr? :linenums
    pre_class << language if language
    pre_class << %(lang-#{language}) if language
    code_lang = nil
  when 'html-pipeline'
    pre_lang = language
    pre_class = code_class = []
    code_lang = nil
    nowrap = false
  end
  pre_class << 'nowrap' if nowrap
  if highlighter == 'prettify' %>
    <pre<%= pre_class.empty? ? nil : %( class="#{pre_class * ' '}") %><%= pre_lang && %( lang="#{pre_lang}") %>><%= content %></pre><%
  else %>
    <pre<%= pre_class.empty? ? nil : %( class="#{pre_class * ' '}") %><%= pre_lang && %( lang="#{pre_lang}") %>><code<%= code_class.empty? ? nil : %( class="#{code_class * ' '}") %><%= code_lang && %( data-lang="#{code_lang}") %>><%= content %></code></pre><%
  end
else %>
<pre<%= nowrap ? ' class="nowrap"' : nil %>><%= content %></pre><%
end %>
</div>
</div>