<%#encoding:UTF-8%><!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="deltaspike-generate-pages">
<meta name="author" content="chm">

<title><%= document.name %></title>

<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements.  See the NOTICE file distributed with this work for additional information regarding copyright ownership.  The ASF licenses this file to you under the Apache License, Version 2.0 (the &quot;License&quot;); you may not use this file except in compliance with the License.  You may obtain a copy of the License at . http://www.apache.org/licenses/LICENSE-2.0 . Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an &quot;AS IS&quot; BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the specific language governing permissions and limitations under the License. -->

<!-- Styles -->

<link href="http://deltaspike.apache.org/resources/css/bootstrap.css" rel="stylesheet">
<link href="http://deltaspike.apache.org/resources/css/bootstrap-responsive.css" rel="stylesheet">

<style type="text/css">
<%= ::Asciidoctor::Stylesheets.instance.coderay_stylesheet_data %>
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
</style>
<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36103647-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>

<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand logocolor"
					href="http://deltaspike.apache.org/index.html">Apache
					DeltaSpike</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a
							href="http://deltaspike.apache.org/index.html">Home</a></li>
						<li><a href="http://deltaspike.apache.org/documentation">Documentation</a></li>
						<li><a href="http://deltaspike.apache.org/source.html">Source</a></li>
						<li><a href="http://deltaspike.apache.org/download.html">Download</a></li>
						<li><a href="http://deltaspike.apache.org/community.html">Community</a></li>
						<!-- <li><a href="./support.html">Support</a></li>  -->
						<li><a href="http://deltaspike.apache.org/news.html">News</a></li>
						<li><a
							href="http://deltaspike.apache.org/migration-guide.html">Migration</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
				<form id="search-form" action="http://www.google.com/search"
					method="get" class="navbar-search pull-right">
					<input value="deltaspike.apache.org" name="sitesearch"
						type="hidden"> <input class="search-query" name="q"
						id="query" type="text">
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="page-title">
			    <h1><%= document.name %></h1>
                </div>

				<div id="toc" class="<%= attr 'toc-class', 'toc' %>">
       	 		<%= converter.convert_with_options @document, 'outline', :toclevels => 3  %>
       	 		<hr>	
       	 		
				<%= document.content %>
			</div>

			<hr>

			<footer>
				<p>Copyright © 2011-2014 The Apache Software Foundation, Licensed under the Apache License, Version 2.0.</p>
				<p>Apache and the Apache feather logo are trademarks of The Apache Software Foundation.</p>
			</footer>

		</div>
		<!-- /.container -->

</body>
</html>